*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --ff-heading: 'Poiret One', cursive;
  --ff-body: 'Voltaire', sans-serif;

  /* colores */

   --col-principal:#F2B366;
  --col-secundario: #F2E6B6;
  --adicional: #5B7876;
  --col-negro: #000000;

  --transicion: cubic-bezier(0.075, 0.82, 0.165, 1);

}

